<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
  <header class="bg-dark">
    <div class="col-20">
      <h1 class="color-white">
        <%= title %>
      </h1>
    </div>
  </header>
  <section>
    <div class="col-20 bg-grey">
      <form action="/despesas" method="POST">
        <legend>Incluir depesa Mensal</legend>
        <input type="text" name="mes" placeholder="Mês Correspondente">
        <input type="text" name="valor" placeholder="Digite o valor da depesa">
        <button type="submit">Adicionar Despesa</button>
      </form>
    </div>
    <div class="col-20">
      <table>
        <tbody>
          <% for(var i=0; i < despesas.length; i++) { %>
          <tr>

            <td><strong>
                <%= despesas[i].mes%></strong></td>

            <td class="highlight">
              <%= despesas[i].valor%>
            </td>

            <td class="actions"><a href="/remove/<%= despesas[i]._id %>" class="color-red">Remover</a> </td>
          </tr>
          <% } %>
        </tbody>        
            
        <script type="text/javascript">   
         $(document).ready(function() { 
          var despesas;
          var options;
          $.ajax({
           // type:'GET',
            url: 'http://localhost:3000/despesas',
            dataType: 'json',
            success: function(data) {
              despesas = json2array(data.despesas);
              options = data.opcoes;
            },
            error: function(){
              alert("Ocorreu um erro ao processar a solicitação");
            }          
        });   

       
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function(){
          data = google.visualization.arrayToDataTable(despesas);
          var chart = new google.visualization.PieChart(document.getElementById('obj'));
          chart.draw(data, options);
});
 
});

function json2array(json_data){
  var result = [];
  for(var i in json_data)
    result.push([i, json_data[i]]);
 
  return result;

}         


          /*google.charts.load('current', { packages: ['corechart', 'line'] });
          google.charts.setOnLoadCallback(drawBasic);




          
          function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Meses');
            data.addColumn('number', 'Despesas');

            data.addRows([
              ['Janeiro', 1200], ['Fevereiro', 1650], ['Março', 2033], ['Abril', 1657], ['Maio', 830], ['Junho', 3265],
              ['Julho', 1011], ['Agosto', 2070], ['Setembro', 3303], ['Outubro', 1852], ['Novembro', 998], ['Dezembro', 1745]
            ]);

            // data.addRows([obj]);

            var options = {
              hAxis: {
                title: 'Meses'
              },
              vAxis: {
                title: 'Despesas'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
          }*/

        </script>
      </table>
    </div>
  </section>
  <!--<div id="mychart"></div> -->
  <!--<div id="chart_div"></div> -->
</body>

</html>